.calculadora-container{
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
    gap: 3.5rem;
}

#img{
    width: 32rem;
    height: 16rem;
    border-radius: 15px;
    filter: invert(88%) sepia(15%) saturate(410%) hue-rotate(78deg) brightness(92%) contrast(91%);
}

#calculadora-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #76B947;
    border-radius: 8px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title{
    font-size: 2.25rem;
}

#title::after{
    position: absolute;
    content: "";
    background-color: #f8fafc;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.input-box label{
    font-size: 1.1rem;
    color:#f8fafc;
    font-weight: 500;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #94C973;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}

.input-field span, .input-field i{
    color: #f8fafc;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 0.5rem;
}

#faixaEtariaButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.faixaEtaria-btn {
    background-color: #94C973;
    color: #f8fafc;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.faixaEtaria-btn:hover {
    background-color: #B1D8B7;
}

.faixaEtaria-btn.selected {
    background-color: #B1D8B7;
}

.input-field input::-webkit-outer-spin-button, .input-field input::-webkit-inner-spin-button{
    appearance: none;
}

.input-field input:focus{
    outline:none
}

#calcular{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #94C973;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}

#resultado{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}

#imc{
    display: flex;
    align-items: center;
    flex-direction:column;
    font-size: 2.25rem;
}

#imc span:last-child{
    font-size: 0.875rem;
    color: #cbd5e1;
}

#descricao{
    width: 15.5rem;
}

.hidden{
    display: none;
}

.atencao{
    color:#f97156;
}