.slider{
   margin: 0 auto;
   width: 85vw;
   height:90vh;
   border-radius: 25px;
   overflow: hidden;
   margin-top: 6rem;
}

.slides{
   width: 400%;
   height: 500px;
   display: flex;
}

.slides input{
   display: none;
}

.slide{
   width: 25%;
   position: relative;
   background-color: #5cbc64;
   border-radius: 30px;
   transition: 2s;
}

.slide h2, .slide p{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   text-align: center;
}

.slide h2{
   width: 85vw;
   height: 15vh;
   font-weight: 600;
   font-size: 3rem;
}

.slide p{
   font-size: 2rem;
   width: 83vw;
   height: 30vh;
   font-weight: 600;
}

.manual-navigation{
   position: absolute;
   width: 85vw;
   margin-top: -60px;
   display: flex;
   justify-content: center;
}

.manual-btn{
   border: 2px solid #e6e6e6f4;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}

.manual-btn:not(:last-child){
   margin-right: 40px;
}

.manual-btn:hover{
   background-color: #ffffff;
}

#radio1:checked ~ .first{
   margin-left: 0;
}

#radio2:checked ~ .first{
   margin-left: -25%;
}

#radio3:checked ~ .first{
   margin-left: -50%;
}

#radio4:checked ~ .first{
   margin-left: -75%;
}

.navigation-auto{
   position: absolute;
   width: 800px;
   margin-top: 360px;
   display: flex;
   justify-content: center;
}

.navigation-auto div:not(:last-child){
   margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
   background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
   background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
   background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
   background-color: #fff;
}