@import url(./header.css);
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
}

.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100vw;
    background-image: url(../assets/landing_img.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.landing::after{
    content: "";
    height: 120%;
    width: 100%;
    position: absolute;
    z-index: 8;
}

.landing h1{
    text-shadow: 4px 4px 10px rgba(0,0,0,0.24);
    color: #ffff;
    font-size: 3em;
}

h1{
    margin: 2.5rem;
}

h2{
    margin: 1.5rem;
}

p{
    margin: 20px;
}

.texto{
    margin: 2.5rem;
}


.hidden{
    visibility: hidden;
}